{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for app in apps['projects'] %}
    <!-- <div class="row my-5">
        <h3 class="col-12 text-center mb-2">{{ app.name }}</h3>
        <div class="col-12 col-md-6">
            <img class="w-100 shadow-lg" src="static/{{ app.img }}" alt="{{ app.name }}">    
        </div>
        <div class="col-12 col-md-6 text-center align-center">{{ app.description }}</div>
    </div> -->
    <div class="container">
        <div class="card my-3">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="static/{{ app.img }}" class="img-fluid rounded-start shadow-lg my-3" alt="{{ app.name }}">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">{{ app.name }}</h3>
                        <p class="card-text">{{ app.description }}.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}